.logInPage {
  margin-top: -220px;
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 245px var(--padding-xl) 224px;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
  }
  