* {
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

.App {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.patient {
  background-color: whitesmoke;
  margin-bottom: 2px;
  width: 100%;
}

.tasks {
  background-color: whitesmoke;
  width: 400px;
  border: 3px solid rgb(47, 65, 183);
  padding: 5px;
  margin: 20px;
}
.App-nav {
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px 10px;
  box-shadow: 2px 2px 2px 1px rgb(164, 176, 243);
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1%;
  width: 100%;
  
}

.App-logo {
  max-width: 100px;
}

input {
  width: 250px;
  height: 35px;
  border: 3px solid rgb(47, 65, 183);
}

button {
  background-color: white;
  text-decoration: none;
  padding: 7px 25px;
  border: 1px solid rgb(47, 65, 183);
  cursor: pointer;
}

select {
  background-color: white;
  text-decoration: none;
  padding: 7px 25px;
  border: 1px solid rgb(47, 65, 183);
  cursor: pointer;
}

.Tasks {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

table {
  border: 2px solid rgb(238, 239, 244);
  width: 100%;
  height: auto;
}

.dashboard {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  justify-content: space-evenly;
  width: 100%;
}

.landing {
  margin-top: 10%;
  margin-left: 40%;
  align-items: center;
  justify-content: center;
}

.google {
  margin-top: 1.5%;
  margin-left: 37%;
}

.newForm {
}

.customers {
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #172369;
  color: white;
}

h4 {
  font-weight: bolder;
  text-align: center;
}

.searchable {
  position: absolute;
  color: hsl(240, 100%, 100%);
  background-color: #172369;
  margin-top: 0%;
  width: 15%;
  border: 3px solid white;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.searchable :hover {
  background-color: #120101;
}

.menuItems {
  background-color: #172369;;
  margin-left: 0%;
  color: white;
}


.link {
  text-decoration: none;
}

.highBp {
  color: red;
}


.topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}

.result {
  margin-top: 1rem;
}

.toppings-list,
.total {
  width: 50%;
  margin: 0 auto;
}

.toppings-list {
  list-style: none;
  padding: 0;
}

.toppings-list li {
  margin-bottom: 0.5rem;
}

.toppings-list-item {
  display: flex;
  justify-content: space-between;
}

.toppings-list-item label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

@media screen and (max-width: 600px) {
  .toppings-list,
  .total {
    width: 90%;
  }
}
