.carecall {
    margin: 0;
    height: 37px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .connectedContinuousCare {
    flex: 1;
    position: relative;
  }
  .connectedContinuousCareWrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-15xl);
    margin-top: -2px;
    text-align: right;
    font-size: var(--font-size-6xs);
    color: var(--color-dodgerblue);
    font-family: var(--font-inter);
  }
  .carecallParent,
  .connectedContinuousCareWrapper,
  .resetPasswordFieldInner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .carecallParent {
    flex: 1;
    flex-direction: column;
  }
  .resetPasswordFieldInner {
    width: 177px;
    flex-direction: row;
    padding: 0 var(--padding-7xs) var(--padding-base);
    box-sizing: border-box;
    color: var(--color-darkblue);
    font-family: var(--font-istok-web);
  }
  .resetPasswordPrompt {
    margin: 0;
    height: 27px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .resetPasswordPromptWrapper {
    width: 373px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-mid);
  }
  .div,
  .email {
    position: relative;
  }
  .email {
    display: inline-block;
    min-width: 40px;
  }
  .div {
    width: 23px;
    font-size: var(--font-size-smi);
    background: linear-gradient(#f90d1b, #f90d1b),
      linear-gradient(#f90d1b, #f90d1b), #f90d1b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .emailParent,
  .resetPasswordFieldChild,
  .resetPasswordFieldItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .resetPasswordFieldChild,
  .resetPasswordFieldItem {
    padding: 0 var(--padding-7xs);
    font-size: var(--font-size-mini);
  }
  .resetPasswordFieldItem {
    
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-gainsboro);
    align-self: stretch;
    height: 41px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: var(--padding-smi) var(--padding-7xl) var(--padding-2xs);
    box-sizing: border-box;
    font-family: var(--font-inter);
    color: black;
    min-width: 250px;
  }
  .buttonIcon {
    height: 41px;
    width: 469px;
    position: relative;
    display: none;
    max-width: 100%;
  }
  .sendCode {
    width: 140px;
    position: relative;
    font-size: var(--font-size-mini);
    display: flex;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .sendResetCode,
  .sendResetCodeWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .sendResetCode {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs-4) var(--padding-xl) var(--padding-smi-6);
    background-color: var(--color-darkblue);
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    white-space: nowrap;
  }
  .sendResetCode:hover {
    background-color: var(--color-blueviolet);
  }
  .sendResetCodeWrapper {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs) var(--padding-9xs);
  }
  .createAnAccount,
  .newHere {
    position: relative;
    white-space: nowrap;
  }
  .newHere {
    width: 84px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .createAnAccount {
    flex: 1;
    color: var(--color-dodgerblue);
    cursor: pointer;
    margin-left: -16px;
  }
  .newHereParent {
    width: 212px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .logIn,
  .or {
    position: relative;
  }
  .or {
    width: 21px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .logIn {
    flex: 1;
    color: var(--color-dodgerblue);
    display: inline-block;
    min-width: 37px;
    white-space: nowrap;
    cursor: pointer;
  }
  .bottomNavigation,
  .orParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .orParent {
    width: 58px;
    justify-content: flex-start;
    text-align: right;
  }
  .bottomNavigation {
    align-self: stretch;
    overflow: hidden;
    justify-content: space-between;
    padding: var(--padding-10xs) var(--padding-8xs);
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    font-size: var(--font-size-xs);
  }
  .resetPasswordField {
    width: 583px;
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-40xl) var(--padding-32xl) var(--padding-28xl);
    box-sizing: border-box;
    gap: var(--gap-20xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-23xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 750px) {
    .carecall {
      font-size: var(--font-size-15xl);
    }
  }
  @media screen and (max-width: 675px) {
    .resetPasswordField {
      gap: var(--gap-lgi);
      padding: var(--padding-19xl) var(--padding-6xl) var(--padding-12xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .carecall {
      font-size: var(--font-size-6xl);
    }
  }
  